body {
	font-family: 'Gudea', sans-serif;
	background-color: #142857;

}

h1 {
	font-weight: 700;
	font-size  : 53px; 
	text-align : center;
	color      : #fbfbf8;
	text-shadow: 0 2px 0 #d0d0c6;
}

.row {
	margin-top: 15px;
	text-align: center;
}


.boggle-square {
	background-color: #fbfbf8;
	border-bottom: 1px solid #d0d0c6;
	font-size    : 25px;
	max-height   : 100px;
	max-width    : 100px;
	line-height  : 50px;
	border-radius: 15px;
	padding: 0;
}

.btn {
	background-color: #fbfbf8;
	color: #272525;
	border-bottom: 2px solid #e1e1d7;
}

#time {
	color: #fff;
	font-size: 30px;
}

h2 {
	margin-top: 125px;
	color: #eeeee6;
	font-size: 100px;
	display: none;
}

